*{
    font-family: cursive;
}
body{
    background-image:-webkit-linear-gradient(-64.2deg , #ffffff 50% , #2076FF 50%);
    min-height: 97.7vh;
    background-repeat: no-repeat;
    background-position: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 97.7vh;
    border-radius: 20px;
}

.firstcol ul li , .secondcol ul li, .thirdcol ul li{
    list-style: none;
    padding: 10px;
}

.secondcol ul li input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid gray;
}

.secondcol ul li button , .firstcol ul li button  {
    padding: 10px;
    background-color:#007AFF;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
}

#butto{
    padding: 10px;
    background-color:white;
    color: #007AFF;
    text-decoration: none;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
}
.thirdcol ul li img {
    height: 270px;
}

.firstcol{
    background-color: #03A9F5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    width: 200px;
}

.secondcol,.thirdcol{
    background-color: white;
    height: 400px;
}
.thirdcol{
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#wel{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #007AFF;
}
#sign{
    color: #E9F5FD;
    font-size: 25px;
    text-align: center;
}

#travel{
    text-align: center;
    font-size: 24px;
}

.secondcol ul li button{
    margin-top: 70px;
    margin-left: 40px;
}


@media only screen and (max-width:1000px){
    body{
        background-image:-webkit-linear-gradient(-64.2deg , #ffffff 50% , #2076FF 50%);
    }

    .container{
        padding: 0px;    
        display: block;
        justify-content: center;
        align-items: center;
    }

    #sign{
        color: black;
        margin-right: 30px;
    }
    .secondcol ul li input{
        margin-right: 30px;
    }
    #travel{
        margin-left: 0px;
        padding-left: 0px;
    }
    .firstcol ul li {
        margin-left: 30px;
    }

    .secondcol,.firstcol,.thirdcol{
        border-radius: 20px;
        width: 275px;
        margin-left: 45px;
    }
 
    .thirdcol ul li img {
        height: 30vh;
    }
    #wel{
        margin-left: 50px;
    }
    .thirdcol{
        margin: 0px;
        padding:0px;
    }
}